.grid-container--destination {
  --container-gap: 1rem;
  row-gap: var(--row-gap, 6rem);

  @media (min-width: 35em) {
    grid-template-areas:
      '. title title .'
      '. img info .';
    grid-template-rows: min-content 1fr;
    // grid-template-columns: repeat(2, minmax(0, 40rem));
    align-items: flex-start;
    justify-items: flex-start;

    & .numbered-title {
      grid-area: title;
    }

    & picture {
      grid-area: img;
      //   width: 100%;
      //   height: 100%;

      img {
        max-width: 90%;
        // height: 100%;
      }
    }

    & article {
      grid-area: info;
    }
  }
}
